.slide-top {
    -webkit-animation: slide-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(100vh);
        transform: translateY(100vh);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(100vh);
        transform: translateY(100vh);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.fade-in-out-text {
    animation: fadeInOut 5s linear infinite; /* 5s = 0.5s (fade in) + 4s (stay) + 0.5s (fade out) */
}

@keyframes fadeInOut {
    0%,
    100% {
        opacity: 0;
    }
    10%,
    90% {
        opacity: 1;
    }
}
